* {
  margin: 0;
}

body {
  max-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 100px;
}

#img-logo {
  height: 90px;
  width: 170px;
}

#splash , #main {
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#splash {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main {
	display: none;
}

.logo {
	width: 70vw;
}

main {
  width: 100%;
	position: absolute;
	background-color: #f5f5f5;
	font-family: 'Raleway:300';
}

/* div profile */
.profile {
	margin-top: 15vh;
	display: flex;
	margin-left: 12px;
	padding: 18px;
}

.name {
	font-size: 30px;
	font-style: italic;
	padding: 20px;
}

/* div com botao de amigos e sua lista */
.list-name, .your-friends {
	background-color: #00D9FF;
  padding: 20px;
	border-radius: 15px;
	font-size: 20px;
	color: white;
	margin: 10px;
	border: none;
}

.btns {
	display: grid;
	justify-content: space-around;
	padding: 50px;
}

/* section com amigos proximos */
.close-friends {
	display: grid;
  justify-content: center;
	grid-template-rows: 60px 200px 70px;
	padding: 20px;
}

#btn-match {
	background-color: #FF7300;
	size: 30px;
	border-radius: 5px;
  padding: 10px;
	font-size: 25px;
	color: white;
}

#list-movie{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
}

#match-movie {
  height: 250px;
	display: none;
}

#match-movie button {
	background-color: yellow;
	margin-top: 100px; /*Coloquei essa margem porque a nav cobre o botão*/
}

.modal-title {
  color: #FF7300;
  font-weight: bold;
}

.modal-body {
	display: flex;
}

.modal-description {
	margin: 10px;
}

#my-movie-list {
	display: none;
	background-color: orange;
}

#friends-movie-list {
	display: none;
	background-color: pink;
}
