*{
    margin: 0;
}
body{
    max-height: 100vh;
}
h1{
    text-align: center;
    font-size: 100px;
    
}
.profile{
    margin-top: 10vh;
}
#splash {
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: yellow;	
	display: none; /*TIRAR essa linha na versao FINAL*/
}

main{
	height: 100%;
	width: 100%;
	position: absolute;
	/*display: none;  ALTERAR NA VERSAO FINAÇ*/
}
